body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

/* styles.css */
.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
}

.main-nav li {
    position: relative;
}

.main-nav a {
    
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
}

.main-nav li:hover .sub-nav {
    display: block;
}

.sub-nav li {
    display: block;
}

.main-nav a:hover,
.main-nav a:focus,
.main-nav a:active {
    border-bottom: 3px solid #fff;
    font-weight: bold;
    color: #ff0000; 
}


.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}


.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    height: 200px
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.footer-links a {
    margin-right: 10px;
}

/* Homepage Categories Styling */
.homepage-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
}

.category {
    position: relative;
    height: 100%; /* Set the height to 100% to fill the container */
    background-size: cover;
    background-position: center;
    border: 2px solid #fff;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Set text color for the categories */
    text-align: center; /* Center text within the category */
    text-decoration: none; /* Remove default link underline */
}


.category:hover {
    transform: scale(1.1);
}

/* Background Images for Each Category */
#category1 {
    background-image: url('category1-background.jpg');
}

#category2 {
    background-image: url('category2-background.jpg');
}

#category3 {
    background-image: url('category3-background.jpg');
}


/* Add more styles as needed */





